<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si le fichier ou dossier existe, on laisse faire
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Sinon, on renvoie vers index.php (React)
  RewriteRule ^ index.php [L]
</IfModule>
