
.blog {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 0px auto;
  max-width: 80rem;
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blog {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  color: var(--text_color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card:hover .cta .icon {
  transform: translateX(0.25rem);
  transition: transform 0.3s ease;
}

.card figure {
  height: 14rem;
  width: 100%;
  transition: transform 0.3s ease;
}

.card:hover figure {
  transform: scale(1.05);
}

.card img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.card h3,
.card .cta {
  margin: 1px 0px;
}

.card:hover h3 {
  color: var(--primary_color);
  transition: color 0.3s ease;
}