/* FOOTER */
div:has(>footer) {
  padding-top: 56px;
  background-color: var(--dark_color);
  color: var(--light_color);
}

.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .footer_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer_wrapper > div:nth-of-type(1) {
  grid-column: span 2;
}

@media (max-width: 767px) {
  .footer_wrapper > div:nth-of-type(1) {
    grid-column: span 1;
  }
}

footer h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary_color);
}

.footer_menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text_color);
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--light_color);
}

aside {
  margin: 3px auto 0px;
  padding-top: 2rem;
  max-width: 80rem;
  color: var(--text_color);
  text-align: center;
  border-top: 1px solid #1e293b;
}

aside a {
  text-transform: capitalize;
  text-decoration: underline;
  transition: color 0.3s ease;
}

aside a:hover {
  color: var(--light_color);
}
