@keyframes spin {
  to { transform: rotate(360deg); }
}

.wrap_loader {
  margin: 0px auto;
  width: 48px;
  color: var(--primary_color);
}

.loader {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  animation: spin 1s linear infinite;
}