@import "tailwindcss";

:root {
  --primary_color: oklch(63.7% 0.237 25.331);
  --dark_color: oklch(20.5% 0 0);
  --light_color: white;
  --text_color: oklch(55.4% 0.046 257.417);
}

.capucin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrap_header,
.footer_wrapper,
.section {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrap {
  padding: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  color: var(--text_color);
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark_color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--primary_color);
}

p,
.paragraph {
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text_color);
}

.cta {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--primary_color);
}

.warning {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.25rem;
}

main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}